
html{
    font-family: 'Fraunces', serif;
    text-align: center;
}


.header_text{
    margin-top: 27px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 400%;
    color: #333333;
}

button{
    margin-top: 15px;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    border-radius: 30px;
    border-style: solid;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    background-color: #ffe4e6;
    border-color: #fecdd3;
    color: #333333;
}

.button:hover{
    color:white;
    background-color: #fb7185;
    border-color: #f43f5e;
}

/*#yesButton{
    position: relative;
}*/

#noButton{
    transition: 0.5s;
} 

#buttons{
    max-width: 100vw;
}

#container{
    width: 100%;
    max-width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

p{
    font-size: 150%;
}

@media (min-device-width: 451px)  {
    #container{
        height: 90vh;
    }
}

@media (max-device-height: 450px) {
    #container{
        transform: scale(0.5);
    }
}
